* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	text-align: center;
	background: #000;
}

div.wrapper {
	width: 1070px;
	margin: 0 auto;
}
section.email {
	background-color: green;
}
